@font-face {
  font-family: "PoppinsNormal";
  src: url("./font/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("./font/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsBold";
  font-weight: 700;
  src: url("./font/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsLight";
  src: url("./font/Poppins-Light.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "PoppinsNormal";
  font-weight: 700;
}
